@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #c4c4c4 !important;
  background: #fafafa;
}

.ql-container {
  min-height: 230px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #c4c4c4 !important;
  border-top: none !important;
  font-size: 16px;
}
